// 数字越小 颜色越深
//
$white-0: rgb(232, 232, 232);
$shadow: rgb(41, 40, 43);
//
$back-0: rgb(29, 29, 31); // 最基础的背景色
$back-1: rgb(49, 48, 51); // 一般在 0 之上使用 1
$back-2: rgb(58, 57, 61);
//
$tip-0: rgb(69, 68, 72); // 提示信息的背景色
$tip-1: rgb(140, 137, 150); // 一般在 0 之上使用 1
$tip-2: rgb(155, 152, 166);
//
$main-0: rgb(101, 98, 252);
$main-1: rgb(140, 137, 253);
//
$red-0: rgb(249, 55, 28);
$red-1: rgb(248, 123, 106);
//
$yellow-0: rgb(249, 200, 28);
$yellow-1: rgb(245, 219, 125);
//
$blue-0: rgb(65, 208, 182);
$blue-1: rgb(132, 206, 192);
//
$green-0: rgb(44, 173, 26);
$green-1: rgb(105, 167, 97);
//
$orange-0: rgb(249, 124, 28);
$orange-1: rgb(250, 167, 104);
