.order{
    margin-top:10px;
    height: 90px;
    background-color: rgb(36,35,35);
    border-radius: 5px;
}
.order:hover{
    background-color: rgb(20, 16, 16);
}
/* 图片 */
.order img{
    height:100%;
    margin-left:1%;
    float:left;
    border-radius: 5px;
}

/* 信息栏 */
.orderMsg{
    width:20%;
    height: 90px;
    float:left;
    text-align:right;
}
.orderMsg div{
    color:white;
    height:50%;
    line-height: 45px;
    cursor: default;
}

/* 按钮 */
.orderBtn{
    width:30%;
    height:100%;
    float:right;
    display:flex;
    align-items:center;
}
.orderBtn div{
    width:30%;
    height:40%;
    margin-right:10px;
    color:white;
    border-radius: 5px;
}
.orderBtn a{
    display: inline-block;
    width:100%;
    height:100%;
    cursor: pointer;
    font-size: 20px;

    display:flex;
    align-items:center;
    justify-content: center;
}

/* 按钮制定样式 */
.btnRed{/* 删除 */background-color: red;}
.btnRed:hover{background-color: rgb(82, 33, 131);}
.btnPay{/* 支付 */background-color: rgb(34, 173, 92);}
.btnPay:hover{background-color: rgb(82, 33, 131);}
.btnBack{/* 退款 */background-color: rgb(43, 43, 83);}
.btnBack:hover{background-color: rgb(82, 33, 131);}
.btnNone{background-color: none;}

@media (max-width:500px){
    .order{
        margin-top:60px;
        min-width: 400px;
    }
    .order img{
        display: none;
    }
    .orderMsg{
        padding-left:5%;
    }
    /* 按钮 */
    .orderBtn{
        width:45%;
    }
    .orderBtn a{
        font-size: 14px;
    }
}