.clearfix:before,.clearfix:after{
	/* 清除导航条浮动 */
	content:"";
	display:table;
	clear:both;
}
/* ******************************************************动画部分 */
@media (min-width:500px) {
	/* ↑↑ PC ↑↑ */
	.sports{
		height:100px;
		width:100px;
		top:-50px;
		position: absolute;
		z-index:-1;
	}
	/* 包裹小图标 */
	.spotr_round{
		position: relative;
		transform-origin:100px 100px;
		animation: rotate 8s linear infinite;
	}
	@keyframes rotate{
		100%{
			transform: rotate(360deg);
		}
	}
	/* 小图标围绕主体,小图标是
	根据200x200中心为旋转坐标 */
	.sport{
		width: 100px;
		height: 100px;
		margin-left: -50px;
		margin-top: -50px;
		background-size:100%;
		position: absolute;
		background-repeat:no-repeat;
		border-radius:50%;
		background-color: white;
	}
	/* 小图标设置 */
	.adidas{
		background-image: url(../../image/sport/adidas.jpg);
		transform: rotate(-45deg);}
	.converse{
		margin-left: 50px;
		margin-top:-80px;
		background-image: url(../../image/sport/converse.jpg);}
	.FILA{
		margin-left: 150px;
		background-image: url(../../image/sport/FILA.jpg);
		transform: rotate(45deg);}
	.jodan{
		margin-top:50px;
		margin-left: -80px;
		background-image: url(../../image/sport/jodan.jpg);
		transform: rotate(-90deg);}
	.nb{
		margin-top:150px;
		background-image: url(../../image/sport/nb.jpg);
		transform: rotate(-135deg);}
	.nike{
		margin-left: 150px;
		margin-top:150px;
		background-image: url(../../image/sport/nike.jpg);
		transform: rotate(135deg);}
	.puma{
		margin-left: 50px;
		margin-top:180px;
		background-image: url(../../image/sport/puma.jpg);
		transform: rotate(-180deg);}
	.vans{
		margin-left: 180px;
		margin-top:50px;
		background-image: url(../../image/sport/vans.jpg);
		transform: rotate(90deg);}
	/* ******************************************************导航条部分 */
	.level{
		background-color: rgb(36, 35, 35);
		margin-top:100px;
		position: relative;
	}
	.level ul{
		list-style:none; /*清除inline-block相距*/
		font-size:0px;
	}
	.level li{
		float:right; /* 需要解决高度塌陷问题 */
		width:10%;
		cursor: pointer;
		padding:2px 2px;
	}
	.level ul li a{
		color: white;
		display: block;
		/*a文字样式*/
		font-size: 1.2rem;
		text-align: center;
		text-decoration: none;
		line-height: 2.4rem;
		border-radius: 5px;   
	}
	.level a:hover{
		color: black;
		background-color: white;
	}
}
/******************************************************  PC端结束 */
/******************************************************  下面是移动端 */
@media (max-width:500px) {
	.level{
		min-width: 375px;
		width:100%;
		position:fixed;
		top:0px;
		left: 0px;
		background-color: rgb(36, 35, 35);
		z-index: 1;
		/* background-color: red; */
	}
	.level ul{
		list-style:none; /*清除inline-block相距*/
		font-size:0px;
	}
	.level li{
		float:right; /* 需要解决高度塌陷问题 */
		width:20%;
		cursor: pointer;
	}
	.level ul li a{
		color: white;
		display: block;
		/*a文字样式*/
		font-size: 2rem;
		line-height: 4rem;/*以字体为基准*/
		text-align: center;
		text-decoration: none;
	}
	.level a:active{
		color: black;
		background-color: white;
		transition: all 0.2s ease-in-out;
	}
}