* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    //
    // -moz-user-select: none; /* 火狐 */
    // -webkit-user-select: none; /* 谷歌 */
    // -ms-user-select: none; /* IE */
    // user-select: none;
}
html,
body,
#app {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input,
textarea {
    border: none;
    background-color: transparent;
    // 数字框按钮
    -moz-appearance: textfield;
    // 输入框选中
    // -moz-user-select: none;
    // -webkit-user-select: none;
    // -ms-user-select: none;
    // user-select: none;
    &:focus {
        outline: 0rem;
    }
}
