.cmd {
    .cmd-nav {
        margin-bottom: 1rem;
        .ivu-btn {
            margin-right: 0.5rem;
        }
    }
    .cmd-content {
        .content-script {
            box-shadow: -1px -1px 1px 1px $shadow;
            background-color: $back-1;
            margin-bottom: 1rem;
            margin-right: 1rem;
            width: 15rem;
            max-width: 15rem;
            padding: 0.5rem;
            border-radius: 0.25rem;
            color: $font-0;
            word-break: break-all;
            .name {
                font-size: 1rem;
                font-weight: bold;
                margin-bottom: 0.25rem;
            }
            .path {
                color: $tip-1;
            }
            .log {
                height: 10rem;
                max-height: 10rem;
                overflow-y: scroll;
                margin: 0.5rem 0;
            }
            .btns {
                margin-top: auto;
            }
        }
    }
}
