// 富文本编辑器
.quill-editor {
    height: 100%;
    box-shadow: -1px -1px 1px 1px $shadow;
    border-radius: 0.25rem;
    background-color: $back-1;
    .ql-toolbar {
        border: 1px solid transparent;
        .ql-formats {
            button {
                svg {
                    .ql-stroke,
                    .ql-fill {
                        stroke: $font-0;
                    }
                }
            }
            .ql-picker {
                .ql-picker-label {
                    &::before {
                        color: $font-0;
                    }
                    svg {
                        .ql-stroke,
                        .ql-fill {
                            stroke: $font-0;
                        }
                    }
                }
            }
        }
    }
    .ql-container {
        height: 100%;
        overflow: hidden;
        color: $font-0;
        .ql-editor {
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    .ql-snow {
        border: 1px solid transparent;
    }
}
.ql-editor.ql-blank::before {
    color: $tip-0;
}
