//
$main-lower: rgb(255, 228, 106);
$main: rgb(255, 214, 32);
$main-higher: rgb(226, 192, 39);
//
$back-lower: #3f3f3f;
$back: #242424;
$back-higher: #000000;
//
$white: white;
//
$tip-lower: rgba(255, 255, 255, 0.281);
$tip: rgba(255, 255, 255, 0.664);
$tip-higher: rgb(255, 255, 255);
//
$red: rgb(255, 0, 0);
$red-higher: rgb(199, 0, 0);
//
$blue: rgb(0, 153, 255);
$blue-higher: rgb(0, 120, 201);
//
$purple: rgb(112, 0, 255);
$purple-higher: rgb(91, 0, 211);
//
$orange: rgb(255, 170, 32);
$orange-higher: rgb(255, 128, 0);
//
$pink: rgb(255, 0, 160);
$pink-higher: rgb(184, 0, 116);
//
$green: rgb(0, 255, 21);
$green-higher: rgb(0, 194, 16);
