.sj-link {
    display: inline;
    color: $sj-main;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
.sj-btn {
    position: relative;
    padding: 0.5rem 1rem;
    color: $sj-back;
    background-color: $sj-main;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: all 0.2s;

    display: flex;
    align-items: center;
    text-align: center;

    cursor: pointer;
    &:hover {
        background-color: $sj-main-higher;
    }
    img {
        width: 1rem !important;
        height: 1rem !important;
        margin-right: 0.5rem;
    }
    .close {
        width: 1rem;
        line-height: 1rem;
        font-size: 0.75rem;
        color: $sj-white;
        background-color: red;
        border-radius: 1rem;

        position: absolute;
        right: 0rem;
        top: 0rem;
        transform: translate(50%, -50%);
        &::after {
            content: '✖';
        }
    }
}
.toggle {
    color: $sj-main;
    background-color: $sj-white;
    &:hover {
        color: $sj-white;
        background-color: $sj-main;
    }
}
.disable {
    color: $sj-tip;
    border: 1px solid $sj-tip-lower;
    background-color: $sj-white;
    &:hover {
        cursor: not-allowed;
        color: $sj-tip;
        border: 1px solid $sj-tip-lower;
        background-color: $sj-white;
    }
}
.tip-on {
    color: $sj-back;
    border: 1px solid $sj-white;
    background-color: $sj-white;
    &:hover {
        color: $sj-back;
        border: 1px solid $sj-main;
        background-color: $sj-main;
    }
}
.tip {
    border: 1px solid $sj-main;
    background-color: $sj-main;
    &:hover {
        border: 1px solid $sj-main-higher;
        background-color: $sj-main-higher;
    }
}
.red-on {
    border: 1px solid $sj-red;
    background-color: $sj-red;
    &:hover {
        color: $sj-white;
        border: 1px solid $sj-red-higher;
        background-color: $sj-red-higher;
    }
}
.red {
    border: 1px solid transparent;
    background-color: transparent;
    color: $sj-red;
    &:hover {
        color: $sj-white;
        background-color: $sj-red;
        border: 1px solid $sj-red;
        color: $sj-back;
    }
}
.blue-on {
    border: 1px solid $sj-tip;
    background-color: $sj-white;
    &:hover {
        color: $sj-blue;
        border: 1px solid $sj-blue;
        background-color: $sj-white;
    }
}
.blue {
    border: 1px solid transparent;
    background-color: transparent;
    color: $sj-blue;
    &:hover {
        color: $sj-white;
        background-color: $sj-blue;
        border: 1px solid $sj-blue;
        color: $sj-back;
    }
}
.purple-on {
    border: 1px solid $sj-tip;
    background-color: $sj-white;
    &:hover {
        color: $sj-purple;
        border: 1px solid $sj-purple;
        background-color: $sj-white;
    }
}
.purple {
    border: 1px solid $sj-purple;
    background-color: $sj-purple;
    &:hover {
        color: $sj-white;
        border: 1px solid $sj-purple-higher;
        background-color: $sj-purple-higher;
    }
}
.orange-on {
    border: 1px solid $sj-tip;
    background-color: $sj-white;
    &:hover {
        color: $sj-orange;
        border: 1px solid $sj-orange;
        background-color: $sj-white;
    }
}
.orange {
    border: 1px solid $sj-orange;
    background-color: $sj-orange;
    &:hover {
        color: $sj-white;
        border: 1px solid $sj-orange-higher;
        background-color: $sj-orange-higher;
    }
}
.pink-on {
    border: 1px solid $sj-tip;
    background-color: $sj-white;
    &:hover {
        color: $sj-pink;
        border: 1px solid $sj-pink;
        background-color: $sj-white;
    }
}
.pink {
    border: 1px solid $sj-pink;
    background-color: $sj-pink;
    &:hover {
        color: $sj-white;
        border: 1px solid $sj-pink-higher;
        background-color: $sj-pink-higher;
    }
}
