//
$sj-main-lower: rgb(255, 228, 106);
$sj-main: rgb(255, 214, 32);
$sj-main-higher: rgb(226, 192, 39);
//
$sj-back-lower: #5c5c5c;
$sj-back: #2c2c2c;
$sj-back-higher: #000000;
//
$sj-white: #ffffff;
//
$sj-tip-lower: rgba(255, 255, 255, 0.281);
$sj-tip: rgba(255, 255, 255, 0.664);
$sj-tip-higher: rgb(255, 255, 255);
//
$sj-red: rgb(255, 0, 0);
$sj-red-higher: rgb(199, 0, 0);
//
$sj-blue: rgb(0, 153, 255);
$sj-blue-higher: rgb(0, 120, 201);
//
$sj-purple: rgb(112, 0, 255);
$sj-purple-higher: rgb(91, 0, 211);
//
$sj-orange: rgb(255, 170, 32);
$sj-orange-higher: rgb(255, 128, 0);
//
$sj-pink: rgb(255, 0, 160);
$sj-pink-higher: rgb(184, 0, 116);
