// # 提示
$common-tip-higher: rgb(177, 177, 177);
$common-tip: rgb(197, 197, 197);
$common-tip-lower: rgb(226, 226, 226);
$common-white: #ffffff;
$common-black: #333333;

// 全局颜色设置
$common-main: #07c160;
$common-back: rgb(241, 241, 241);
