
.board{
    background-image:url(../../image/ads/bc2.jpg);
    background-size:cover;
    width: 100%;
    height: 100%;
    
    position: fixed;
    top:0px;
    left: 0px;
}

/* //布局 */
.login{
    width: 400px;
    height: 300px;
    background-color: rgba(14, 11, 11, 0.8);
    border:black 2px solid;
    border-radius: 10px;
    animation: login_show 0.5s linear;
    
    position: relative;
    top: 50%; 
    left:50%;
    transform: translate(-50%,-50%);
}
.login0{
    /* transition: all 0.5s; */
    animation: login_show 0.5s linear;
}
@media (max-width:500px){
    /* 移动端 */
    .login{
        min-width: 100%;
        height: 100%;
    }
}
.login > div{
    width:70%;
    /* background-color: red; */
    
    position: absolute;
    top: 50%; 
    left:50%;
    transform: translate(-50%,-50%);
}
@keyframes login_show{
    0%{opacity: 0;}
    100%{opacity: 1.0;}
}

/* 内容 */
.login h2{
    color: white;
    padding-bottom: 10px;
    border-bottom: 3px white solid;
}
.login input{
    display: block;
    width:100%;
    height:30px;
    font-weight: bold;
    text-align: center;
    border:none;
    outline: none;
    
    margin-top:25px;
}
.btnls{
    display: flex;
    justify-content: center;
    margin-top:20px;
}
.login .btnl{
    display:inline-block;
    width:30%;
    height:30px;
    background-color: black;
    border: 1px white solid;
    cursor: pointer;
    /* background-color: red; */
    transition: all 0.3s;

    line-height: 30px;
    color:white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    
    margin:10px;
}
.btnl:hover{
    background-color: white;
    color: black;
}