
    .items{
        background-color: rgb(36, 35, 35);
        margin-top:10px;
    }
    .items .head{
        font-size: 40px;
        line-height: 40px;
        color:white;
        padding-left: 20px;
        padding-top:5%;
    }
    @media (max-width:500px){
        .items{
            min-width: 400px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top:13%;
        }
        .items .head{
            display: block;
            width:100%;
        }
    }
    /* 一个商品项目 */
    .itemCon{
        display: inline-block;
        width:200px;
        height: 200px;
        position: relative;
    }
    .itemOne{
        position: absolute;
        width: 80%;
        height:80%;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        animation: aa 1s;
    }
    .itemOne img{
        width:100%;
        height:100%;
        position: relative;
        border-radius:5px;
    }
    .itemOne:hover{
        width:90%;
        height:90%;
		transition: all 0.1s ease-in-out;
    }
    .itemOne .label{
        position: absolute;
        width:100%;
        left:0px;
        bottom:0px;
        background-color: rgba(36, 35, 35,0.5);
        line-height: 20px;
        display:none;
        text-align: right;
    }
    .items a:hover .label{
        display: inline-block;
        animation: aa 0.5s;
    }
    @keyframes aa{
        0%{
            opacity:0.4;
        }
        100%{
            opacity:1;

        }
    }