body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: black;
  }
  #main{
    width:1200px;
    margin:auto;
  }
  .clearfix:before,.clearfix:after{
      content:"";
      display:table;
      clear:both;}