// * 全局
// * 布局
// * 按钮
// * 动画
// * 其他
//      * sj-shadow
//      * text-cut
//      * no-scroll-bar
//      * sj-modal-back
//      * sj-board

// *************************************************************** 颜色
$sj-main-higher: #30bb73;
$sj-main: #07c160;
$sj-main-lower: #43eb94;
$sj-back: #eeeeee;
$sj-white: #ffffff;
//
$sj-tip: rgb(197, 197, 197);
$sj-tip-lower: rgb(226, 226, 226);
$sj-tip-higher: rgb(177, 177, 177);
//
$sj-red: rgb(255, 0, 0);
$sj-red-higher: rgb(199, 0, 0);
//
$sj-blue: rgb(0, 112, 255);
$sj-blue-higher: rgb(0, 94, 218);
//
$sj-purple: rgb(112, 0, 255);
$sj-purple-higher: rgb(91, 0, 211);
//
$sj-orange: rgb(255, 170, 32);
$sj-orange-higher: rgb(255, 128, 0);
//
$sj-pink: rgb(255, 0, 160);
$sj-pink-higher: rgb(184, 0, 116);

// *************************************************************** 全局
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,
body,
#app {
    height: 100%;
    min-height: 100%;
    background-color: $sj-back;

    // 输入框选中
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    // 滚动条消失
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

// *************************************************************** 布局
.flex {
    display: flex;
}
.flex-x-reverse {
    display: flex;
    flex-direction: row-reverse;
}
.flex-y {
    display: flex;
    flex-direction: column;
}
.flex-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-middle-x {
    display: flex;
    justify-content: center;
}
.flex-middle-y {
    display: flex;
    align-items: center;
}
.flex-side {
    display: flex;
    justify-content: space-between;
}
.flex-no-side {
    display: flex;
    justify-content: space-around;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

// *************************************************************** 按钮
// 正常：取主色调
// 正常和白色取反：toggle
// 灰色：tip
.sj-link {
    display: inline;
    color: $sj-main;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
.sj-btn {
    position: relative;
    padding: 0.5rem 1rem;
    color: $sj-white;
    background-color: $sj-main;
    border: 1px solid transparent;
    border-radius: 0.2rem;

    display: flex;
    align-items: center;
    text-align: center;

    transition: all 0.2s;
    cursor: pointer;
    &:hover {
        background-color: $sj-main;
    }
    img {
        width: 1rem !important;
        height: 1rem !important;
        margin-right: 0.5rem;
    }
    .close {
        width: 1rem;
        line-height: 1rem;
        font-size: 0.75rem;
        color: $sj-white;
        background-color: red;
        border-radius: 1rem;

        position: absolute;
        right: 0rem;
        top: 0rem;
        transform: translate(50%, -50%);
        &::after {
            content: '✖';
        }
    }
}
.toggle {
    color: $sj-main;
    background-color: $sj-white;
    &:hover {
        color: $sj-white;
        background-color: $sj-main;
    }
}
.disable {
    color: $sj-tip;
    border: 1px solid $sj-tip-lower;
    background-color: $sj-white;
    &:hover {
        cursor: not-allowed;
        color: $sj-tip;
        border: 1px solid $sj-tip-lower;
        background-color: $sj-white;
    }
}
.tip-on {
    color: $sj-tip;
    border: 1px solid $sj-tip;
    background-color: $sj-white;
    &:hover {
        color: $sj-main;
        border: 1px solid $sj-main;
        background-color: $sj-white;
    }
}
.tip {
    color: $sj-white;
    border: 1px solid $sj-main;
    background-color: $sj-main;
    &:hover {
        color: $sj-white;
        border: 1px solid $sj-main-higher;
        background-color: $sj-main-higher;
    }
}
.red-on {
    color: $sj-white;
    border: 1px solid $sj-red;
    background-color: $sj-red;
    &:hover {
        color: $sj-white;
        border: 1px solid $sj-red-higher;
        background-color: $sj-red-higher;
    }
}
.red {
    color: $sj-white;
    border: 1px solid $sj-red;
    background-color: $sj-red;
    &:hover {
        color: $sj-white;
        border: 1px solid $sj-red-higher;
        background-color: $sj-red-higher;
    }
}
.blue-on {
    color: $sj-tip-higher;
    border: 1px solid $sj-tip;
    background-color: $sj-white;
    &:hover {
        color: $sj-blue;
        border: 1px solid $sj-blue;
        background-color: $sj-white;
    }
}
.blue {
    color: $sj-white;
    border: 1px solid $sj-blue;
    background-color: $sj-blue;
    &:hover {
        color: $sj-white;
        border: 1px solid $sj-blue-higher;
        background-color: $sj-blue-higher;
    }
}
.purple-on {
    color: $sj-tip-higher;
    border: 1px solid $sj-tip;
    background-color: $sj-white;
    &:hover {
        color: $sj-purple;
        border: 1px solid $sj-purple;
        background-color: $sj-white;
    }
}
.purple {
    color: $sj-white;
    border: 1px solid $sj-purple;
    background-color: $sj-purple;
    &:hover {
        color: $sj-white;
        border: 1px solid $sj-purple-higher;
        background-color: $sj-purple-higher;
    }
}
.orange-on {
    color: $sj-tip;
    border: 1px solid $sj-tip;
    background-color: $sj-white;
    &:hover {
        color: $sj-orange;
        border: 1px solid $sj-orange;
        background-color: $sj-white;
    }
}
.orange {
    color: $sj-white;
    border: 1px solid $sj-orange;
    background-color: $sj-orange;
    &:hover {
        color: $sj-white;
        border: 1px solid $sj-orange-higher;
        background-color: $sj-orange-higher;
    }
}
.pink-on {
    color: $sj-tip;
    border: 1px solid $sj-tip;
    background-color: $sj-white;
    &:hover {
        color: $sj-pink;
        border: 1px solid $sj-pink;
        background-color: $sj-white;
    }
}
.pink {
    color: $sj-white;
    border: 1px solid $sj-pink;
    background-color: $sj-pink;
    &:hover {
        color: $sj-white;
        border: 1px solid $sj-pink-higher;
        background-color: $sj-pink-higher;
    }
}

// *************************************************************** 动画
.fade-off {
    transition: all 0.2s;
    visibility: hidden;
    width: 0%;
    opacity: 0;
}
.fade-on {
    visibility: visible;
    opacity: 1;
}
.top-scroll-off {
    transition: all 0.2s;
    transform: translateY(-100%);
    opacity: 0;
}
.top-scroll-on {
    transform: translateY(100%);
    opacity: 1;
}
.left-scroll-off {
    transition: all 0.2s;
    transform: translateX(-100%);
    opacity: 0;
}
.left-scroll-on {
    transform: translateX(0%);
    opacity: 1;
}
.right-scroll-off {
    transition: all 0.2s;
    transform: translateX(100%);
    opacity: 0;
}
.right-scroll-on {
    transform: translateX(0%);
    opacity: 1;
}

// *************************************************************** 其他
.sj-shadow {
    box-shadow: 0px 0px 10px 2px #e2e2e2;
    // 参数解释: left top 扩散程度 宽度 颜色
}
.text-cut {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.no-scroll-bar {
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
.grey-placeholder {
    // 设置 placeholder
    ::-webkit-input-placeholder, /* 使用webkit内核的浏览器 */
      :-moz-placeholder, /* Firefox版本4-18 */
      ::-moz-placeholder, /* Firefox版本19+ */
      :-ms-input-placeholder /* IE浏览器 */ {
        color: #b2b2b2;
        font-size: 1rem;
    }
}

// 弹窗
.sj-modal-back {
    // 居中板 - 灰色背景层
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;

    display: flex;
    justify-content: center;
    align-items: center;
    .modal {
        // 居中板 - 内容层
        background-color: $sj-white;
        width: 80%;
        max-height: 80%;
        border-radius: 0.2rem;
        padding-bottom: 1rem;

        display: flex;
        flex-direction: column;
        .title {
            // 1.内容层 - 顶部标题
            font-size: 1.2rem;
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            border-bottom: 1px solid $sj-tip-lower;
            span {
                cursor: pointer;
            }
        }
        .content {
            // 2.内容层 - 中央内容
            word-wrap: break-word;
            min-height: 6rem;
            padding: 1rem 1rem 0rem;
        }
        .btns {
            padding: 1rem 1rem 0rem;
            display: flex;
            flex-direction: row-reverse;
            .sj-btn {
                margin-left: 1rem;
            }
        }
    }
}

// 管理界面
.sj-board {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    .side {
        width: 10%;
        height: 100%;
        max-height: 100%;
        overflow-y: auto;
        background-color: $sj-tip-lower;
        //
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        .side-ad {
            background-color: $sj-main;
            min-height: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .side-item {
            &:hover {
                cursor: pointer;
                background-color: $sj-tip;
            }
            padding: 1rem;
            // 手风琴以后弄
            .items {
                background-color: $sj-tip;
                padding-left: 2rem;
            }
        }
        .side-item-on {
            background-color: $sj-tip-higher;
        }
    }
    .content {
        width: 100%;
        height: 100%;
        max-height: 100%;
        overflow-y: auto;
    }
}
